# This is Git's per-user configuration file.
[user]
        name = Giancarlo Rosso
        email = g.rosso@fineco.it
        username = giancarlorosso
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
# Git Commit, Add all and Push — in one step.
	cap = "!f() { git commit -m \"$@\"; }; f"
# feature.
	feat = "!f() { git cap \"feat: $@\"; }; f"
# refactor.
	refactor = "!f() { git cap \"refactor: $@\"; }; f"
# chore.
	chore = "!f() { git cap \"chore: $@\"; }; f"
# revert.
	revert = "!f() { git cap \"revert: $@\"; }; f"
# doc.
	doc = "!f() { git cap \"docs: $@\"; }; f"
# test.
	tst = "!f() { git cap \"test: $@\"; }; f"
# fix.
	fix = "!f() { git cap \"fix: $@\"; }; f"
# code review
	review = "push origin HEAD:refs/for/master"
# switch
        sw = switch
[credential]
	helper = store --file ~/.git-credentials
[core]
	fscache = true
	autocrlf = input
[http]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
	rebase = false
[init]
	defaultBranch = master
[lfs]
	locksverify = false
	url = https://cvs.fineco.it/nexus/repository/git-lfs/info/lfs
[push]
	autoSetupRemote = true
